
//footer
$color-footer-background = #333
$color-footer-dt-color = #d7d8d9
$color-footer-dd-color = #9b9ea0
$color-footer-line-color = #4b5054

//bar
$color-bar-hover-background = #373d41

//common
$color-common-theme-hover-color = #c2ff35 //亮绿色
$color-common-theme-sub-color = #9CC628   //主体的黄色

//4-advantage
$color-advantage-background = #CCE8FF  //浅蓝色背景色
$color-advantage-four-active-color = #2EA7E0 //主体的蓝色

//5-desc
$color-desc-background = #F9FFE6 //米色背景

//chart
$chart1 = #3AAB66
$chart2 = #35B6AC

//provide-server
$color-btn = rgb(250, 253, 232)

//all-page
$ffffff = #fff
$000000 = #000000
$666666 = #666666







//app.vue -> common-bar
$bar-item-size = 16px

//slogen
$slogen-title-size = 36px
$slogen-subtitle-hanzi-size = 15px
$slogen-subtitle-num-size = 20px


//slogen2
$slogen2-title-size = 40px
$slogen2-subtitle-en-size = 12px

//series-row-item
$series-icon-size = 40px
$series-title-size = 18px

//advantage
$advantage-title-size = 22px
$advantage-emphasize-size = 20px
$advantage-title-content = 14px

//prod-server 

$mode-title-size = 28px
$mode-skewline-size = 35px
$mode-subtitle-cn-size = 12px
$mode-subtitle-en-size = 14px
$mode-content-size = 18px
$mode-icon-size = 30px

//business-philosophy
$philosophy-title-size = 20px
$philosophy-content-size = 16px

//single-slide
$single-performance-results-size = 13px
$single-furture-prospects-size= 12px
$single-furture-prospects-quo-size= 30px

//team-struct
$ceo-title-en-size = 30px
$ceo-title-zh-size = 34px
$ceo-name-size = 24px
$ceo-quo-size = 30px
$ceo-motto-size = 16px
$ceo-content-size = 14px

$cxo-name-size = 16px
$cxo-motto-size = 13px
$cxo-content-size = 12px

//contact-us
$contact-us-num-size = 46px
$contact-us-yi-size = 26px //就是中文的亿
$contact-us-unit-size = 24px
$contact-us-way-title-size = 24px
$contact-us-way-content-size = 18px
$contact-us-way-icon-size = 45px


//performance-result
$performance-result-title-size = 48px
$performance-result-title-zh-size = 42px
$performance-result-desc-size = 22px

//cooperative-client
$cooperative-client-title-size = 22px
$cooperative-client-icon-size = 30px

//provide-advice
$provide-advice-icon-size = 24px
$provide-advice-phone-desc-size = 12px
$provide-advice-icon-size = 24px
$provide-advice-btn-icon-size = 28px


//button
$button-size = 12px

//common-footer
$common-footer-title-size = 14px
$common-footer-item-size = 12px
$common-footer-copyright-size = 14px
